/* Global */
* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: white;
}

body {
  background-color: #030a1d;
}

h1,
h2 {
  text-transform: uppercase;
}

.accent {
  color: #ff9900;
}

/* Grid Container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
}

.box {
  border: 1px solid #ff9900;
  border-radius: 5px;
  padding: 15px;
  min-height: 300px;
}

/* Map */
.map {
  position: relative;
  /* aspect-ratio: 523/478; */
  aspect-ratio: 523/400;
}

.map img {
  filter: brightness(1.5);
}

.map ul,
.map li,
.map img,
.map a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.map a:hover,
.map a:focus {
  background: #ff9900;
  opacity: 0.5;
  transition: background 1s, opacity 1s;
}

/* Other */
.visually-hidden {
  clip: rect(0, 0, 0);
  clip-path: inset(5%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

iframe {
  height: 100%;
  width: 100%;
  margin-right: -100px;
}

footer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

/* Clip-path | Poligons */

.map .warminsko-mazurskie {
  clip-path: polygon(50% 8%, 49% 20%, 55% 27%, 73% 23%, 89% 8%);
}

.map .podlaskie {
  clip-path: polygon(73% 22%, 90% 7%, 98% 35%, 89% 42%);
}

.map .slaskie {
  clip-path: polygon(
    37% 83%,
    44% 64%,
    56% 69%,
    57% 76%,
    49% 85%,
    53% 91%,
    47% 96%,
    44% 91%,
    42% 90%,
    43% 86%
  );
}

.map .opolskie {
  clip-path: polygon(
    36% 85%,
    32% 82%,
    34% 80%,
    34% 78%,
    27% 77%,
    36% 62%,
    44% 64%
  );
}

.map .lodzkie {
  clip-path: polygon(36% 62%, 50% 40%, 63% 50%, 63% 60%, 54% 69%, 44% 64%);
}

.map .swietokrzyskie {
  clip-path: polygon(
    55% 67%,
    62% 60%,
    76% 65%,
    78% 69%,
    70% 80%,
    63% 80%,
    57% 76%
  );
}

.map .pomorskie {
  clip-path: polygon(
    27% 18%,
    31% 6%,
    45% 0%,
    51% 4%,
    48% 4%,
    49% 7%,
    52% 7%,
    50% 9%,
    49% 20%,
    34% 19%,
    32% 21%
  );
}

.map .dolnoslaskie {
  clip-path: polygon(
    23% 83%,
    19% 76%,
    21% 73%,
    8% 66%,
    5% 67%,
    6% 59%,
    22% 50%,
    35% 59%,
    37% 62%,
    27% 76%,
    27% 80%
  );
}

.map .wielkopolskie {
  clip-path: polygon(
    17% 42%,
    18% 29%,
    22% 28%,
    27% 19%,
    32% 21%,
    35% 36%,
    48% 42%,
    37% 61%,
    35% 58%,
    22% 50%
  );
}

.map .zachodniopomorskie {
  clip-path: polygon(
    31% 6%,
    1% 12%,
    4% 15%,
    1% 16%,
    0% 31%,
    3% 36%,
    22% 28%,
    28% 18%
  );
}

.map .lubuskie {
  clip-path: polygon(3% 36%, 18% 30%, 17% 41%, 22% 50%, 7% 59%, 4% 56%, 4% 42%);
}

.map .malopolskie {
  clip-path: polygon(
    48% 85%,
    57% 76%,
    62% 80%,
    70% 79%,
    73% 95%,
    70% 95%,
    69% 98%,
    66% 96%,
    61% 98%,
    57% 99%,
    55% 98%,
    53% 91%
  );
}

.map .kujawsko-pomorskie {
  clip-path: polygon(
    32% 21%,
    34% 19%,
    49% 19%,
    55% 27%,
    50% 41%,
    48% 42%,
    35% 36%
  );
}

.map .lubelskie {
  clip-path: polygon(
    76% 66%,
    77% 49%,
    89% 42%,
    100% 66%,
    100% 74%,
    96% 79%,
    86% 78%
  );
}

.map .podkarpackie {
  clip-path: polygon(
    70% 80%,
    78% 70%,
    86% 78%,
    96% 80%,
    88% 97%,
    89% 100%,
    82% 98%,
    78% 95%,
    73% 96%
  );
}

.map .mazowieckie {
  clip-path: polygon(
    56% 26%,
    73% 22%,
    89% 42%,
    77% 48%,
    75% 65%,
    62% 60%,
    63% 50%,
    50% 40%
  );
}

/* Media */
@media (min-width: 300px) {
  .map,
  .site {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/* Archived */

/* body {
  background-color: #030a1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
} */
